<!-- Dashboard page -->
{% extends "layout.html" %}

<!-- page title -->
{% block title %}
Dashboard
{% endblock %}

<!-- extras header -->
{% block head %}
<!-- add to the header tag -->
{% endblock %}

<!-- navbar -->
{% block navbar %}
<!-- add to the navbar item -->
{% endblock %}

<!-- body -->
{% block body %}
{{ super() }} <!-- render parent block content -->
<!-- add to the body content -->
<h1 class="display-5 text-center">Dashboard</h1>
<p class="fwt-italic fw-bold text-center">This is a dashboard page</p>
{% endblock %}

<!-- footer -->
{% block footer %}
{{ super() }} <!-- render parent block content -->
<!-- add to the footer -->
{% endblock %}
