<!-- Jinja - Extend based on the layout.html -->
<!-- copy from below here -->
{% extends "layout.html" %}

<!-- page title -->
{% block title %}{% endblock %}

<!-- extras header -->
{% block head %}
<!-- add to the header tag -->
{% endblock %}

<!-- navbar -->
{% block navbar %}
<!-- add to the navbar item -->
{% endblock %}

<!-- body -->
{% block body %}
{{ super() }} <!-- render parent block content -->
<!-- add to the body content -->
{% endblock %}

<!-- footer -->
{% block footer %}
{{ super() }} <!-- render parent block content -->
<!-- add to the footer -->
{% endblock %}
